* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("images/iss064e026149.jpg") fixed center center;
    background-size: cover;
}

.app-container {
    display: grid;
    grid-template-areas:
            'h h h'
            'c c c'
            'c c c'
            'f f f';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 75vh auto 150px;
    grid-gap: 20px;
    overflow: auto hidden;
    padding: 20px !important;
    margin: 0 !important;
}

.app-container > * {
    background: rgba(250, 250, 250, 0.95);
    border-radius: 5px !important;
}

#header {
    grid-area: h;
}

#content {
    grid-area: c;
}

#footer {
    grid-area: f;
}

h1 {
    font-size: 1.8rem;
}

/*---------------HEADER---------------*/

.navbar-container {
    width: 100%;
    height: 100%;
    max-width: unset !important;
    padding: 0 !important;
}

.navbar-wrapper {
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row;
    justify-content: center !important;
    background: transparent !important;
}

.navbar-brand {
    font-size: 2rem;
    margin-left: auto !important;
    margin-right: auto !important;
}

#responsive-navbar-nav {
    width: auto !important;
    flex-grow: unset !important;
    flex-basis: 0;
}

.navbar-collapse .collapse .show {
    position: absolute;
    top: 120px;
    background: white;
}

.nav-item {
    margin-right: 3vh;
}

.nav-links a {
    font-size: 1.2rem;
    color: black !important;
    padding: 7px !important;
    min-width: 160px;
    width: auto;
    text-align: center;
}

.nav-links a:hover {
    box-shadow: 0 0 3px #0d6efd;
}

/*-------------------- CONTENT ---------------------*/

#content {
    position: relative;
}

#content > * {
    padding: 30px;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.centering {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
}

.add-candidate-button {
    position: absolute !important;
    top: 30px;
    right: 30px;
}

.candidate-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.candidate-wrapper {
    height: 220px;
    width: 150px;
    background-image: linear-gradient(to top, white 0%, whitesmoke 70%, ghostwhite 100%);
    box-shadow: 0 3px 8px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
    padding: 20px;
    position: relative;
    margin: 35px;
    word-break: break-all;
}

.candidate-wrapper > section {
    position: absolute;
    top: 70px;
    right: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #0d6efd;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.5rem;
    cursor: pointer;
    border: 5px whitesmoke;

}

.candidate-wrapper > section:hover {
    background: blue;
}

.candidate-wrapper h5 {
    position: absolute;
    bottom: 10px;
}

/*-------------------- MODAL ---------------------*/

.form-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px;
}

.form-view > * {
    margin-bottom: 10px;
}

.election-modal-container .modal-body {
    padding: 0 20px 0 20px;
}

.election-modal-container .close {
    background: unset !important;
    border: unset !important;
    width: 55px;
    height: 35px;
}

.election-modal-container .close span {
    display: none;
}

.election-modal-container .close::after {
    content: "X";
    font-size: 1.2rem;
}

.election-modal-container .modal-footer {
    padding: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/*-------------------- FOOTER ---------------------*/

#footer {
}
