
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("images/iss064e026149.jpg") fixed center center;
  background-size: cover;
}

.app-container {
  display: grid;
  grid-template-areas:
            'h h h'
            'c c c'
            'c c c'
            'f f f';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 75vh auto 150px;
  grid-gap: 20px;
  overflow: auto hidden;
  padding: 20px !important;
  margin: 0 !important;
}

.app-container > * {
  background: rgba(250, 250, 250, 0.95);
  border-radius: 5px !important;
}

#header {
  grid-area: h;
}

#content {
  grid-area: c;
}

#footer {
  grid-area: f;
}

h1 {
  font-size: 1.8rem;
}
